@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
* {
    padding: 0px;
    margin: opx;
    font-size: 16px;
}

p, h2, h3, h4, h6, li {
    font-family: "Libre Baskerville", sans-serif;
    font-weight: 700;
}

.logo {
    cursor: pointer;
    margin-left: 20px;
}

header {
display: flex;
justify-content: space-between;
align-items: center;

}

.nav_links {
    
}

.nav_links li {
    display: inline-block;
    padding: 10px;
    }

.nav_links li a {
    color: rgb(128, 128, 128);
    font-size: 10px;
}

.nav_links li a:hover {
    color: rgba(128, 128, 128, 0.6);
    transition: all 0.5s ease 5ms;
}

.context-text {
    height: 150px;
    
}

.context-text h2 {
    padding: 40px 10px;
    margin-left: 20px;
    font-size: 30px;
}

.context-text h2 span {
    font-size: 30px;
    color: rgb(255, 194, 0);
}

.summary-text {
    background-color: rgb(51, 51, 51);
    height: 120px;
    width: 100%;
    margin: 0px auto;
}

.summary-text h3 {
    text-align: center;
    color: white;
    padding-top: 25px;
}

.summary-text h6 {
    text-align: center;
    color: lightgrey;
}

.main-container {
    background-color: rgb(255,194,0);
    padding-top: 0px;
    margin: 0px;
    display: inline-block;
    width: 100%;
    justify-content: baseline;
   
}

.size {
    width: 200px;
    height: auto;
}

.main-container h2 {
    display: block;
    text-align: center;
}


.main-container .image-container {
    width: 100%;
    height: 700px;
    display: inline-flex;
    justify-content: center;
}

.left-container {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.center-container {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.right-container {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    background-color: rgb(0,0,0);
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 10px 0px;
    

}

.footer h3 {
    padding: 30px 0px 10px 20px;
    margin: 0px;
    color: white;
    font-size: 15px;
} 

.footer h6 {
    padding: 0px 0px 10px 20px;
    margin: 0px;
    color: white;
    font-size: 7px;
} 

@media only screen and (max-width: 580px) {

    .context-text {
        height: 200px;
        
    }


    .main-container {
        background-color: rgb(255,194,0);
        padding-top: 0px;
        margin: 0 auto;
        /*display: flex;*/
        flex-wrap: wrap;
        width: 100%;
        /*flex-direction: column;*/
        /*justify-content: space-between;*/
        /*align-content: center;*/
            
   
    }

    .main-container .image-container {
        width: 100%; 
        height: auto;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }

    .left-container {
        width: 350px;
        height: auto;
        display: inline-block;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    
    }
    
    .center-container {
        width: 350px;
        height: auto;
        display: inline-block;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    
    }
    
    .right-container {
        width: 350px;
        height: auto;
        display: inline-block;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    
    }

}




